body {
    margin: 0;
}

/* 프로필 이미지 */
.img {
    justify-content: center; /* 요소들을 컨테이너 중앙에 정렬 */
}
#porfile-img {
    width: 150px;
    height: 150px;
    border: 1px solid #2B3856;
    transform: scale(1); /* 이미지 사이즈 고정 */
    border-radius: 70%
}

.menu-bar {
    position: fixed;
    border: 0;
    background-color: #2B3856;
    display: block;
    width: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index {
    text-align: center;
    display: flex;
    flex-direction: column;
    /*
    flex-direction: 컨테이너 내부의 아이템들이 만들어지는 방향
    인덱스의 생성방향은 column : 아래로 row :좌->우 row-reverse 우->좌
    column-reverse 아래->위
     */
}
/* 목차 */
.index h3 {
    color: white;
    opacity: 0.7; /* opacity : 투명도 설정 */
    text-decoration: none;
    cursor: pointer;
/*
    cursor 속성
     auto: 자동 , default: 기본값(화살표), pointer : 손가락 모양 (클릭 가능한 버튼), wait: 로딩

 */
}
/* 목차 각 항목 반응형 커서 */
.index h3:hover {
    font-size: 1.1em;
    opacity: 1;
    text-shadow: 0.7px 0.7px 0.7px #000;
}